name: Deploy Backend to Azure

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore InnomateApp.sln

      - name: Build with dotnet
        run: dotnet build InnomateApp.sln --configuration Release --no-restore

      - name: dotnet publish
        # This points to your specific API project
        run: dotnet publish backend/InnomateApp.API/InnomateApp.API.csproj -c Release -o ./publish

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'InnomateApi' # CHECK THIS: Must match your Azure Web App name exactly
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ./publish